@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap');

body {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

.nav-container {
    margin: 0;
}

.nav-list {
    box-shadow: 1px 1px 0px red;
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 5px;
}

.nav-list li a {
    text-decoration: none;
}

.nav-list li a:hover {
    color: white;
    background-color: black;
    opacity: calc(0.6);
}

/* Media Query */
@media (max-width: 768px) {
    .nav-list {
        flex-direction: column;
        align-items: center;
    }
}
