.shopping-container {
    margin: 0;
    text-align: center;
    width: 100%;
}

.shopping-container input {
    width: 100%;
    max-width: 30rem;
    height: 2rem;
}

.shopping-container .btn {
    padding: 10px;
    margin-left: 5px;
}

.shopping-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.shopping-list .title {
    position: relative;
    right: 45px;
    padding: 5px;
}

.shopping-list li {
    padding: 2px;
}

.shopping-list img {
    width: 100%;
    max-width: 220px;
    height: auto;
}

.shopping-list button {
    position: relative;
    right: 150px;
    top: 20px;
    border: none;
    padding: 7px;
    font-size: 13px;
}
.shopping-list button:hover{
    color: white;
    background-color:rgb(252, 14, 133);
    
}

/* Media Query */
@media (max-width: 768px) {
    .shopping-list .title {
        right: 0;
    }

    .shopping-list button {
        right: 0;
        top: 0;
    }
}
